@import "/src/colors.scss";

@mixin coverDimensions {
  height: 200px;
  width: 200px;
}

.album-cover {
  @include coverDimensions;
}

.album-cover-holder {
  @include coverDimensions;

  background-image: url("/assets/img-placeholder.svg");
}

:host {
  width: 100%;
}

.album-container {
  height: 100%;
}

h3.album-name {
  margin-bottom: 10px;
}

h4.artist-name {
  margin-top: 10px;
}

.album-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.album-info-body {
  padding: 10px 40px;
}

.no-borders {
  border: none;
}

.hidden {
  display: none;
}

.lesser-paddings {
  padding: 10px 20px;
}

.list-item-container {
  height: 100%;
}

.position-holder {
  width: 80px;
  .vinyl-disk {
    height: 190px;
    width: 190px;
    border-radius: 95px;
    background-color: black;
    background: repeating-radial-gradient(black, #201e1e 3px);
    position: relative;
    transform: translateX(15px);

    transition: transform 200ms ease-in-out;
  }

  .vinyl-disk-center {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: $accent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .position-number {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: white;
  }
}

:host:hover {
  .vinyl-disk {
    transform: translateX(0) rotate(-5deg);
  }
}
