<button class="album-container" (click)="openAlbumInfo()">
  <div class="position-number-holder uk-width-auto uk-flex uk-flex-column uk-flex-center uk-visible@s">
    <div class="position-holder">
      <div class="vinyl-disk">
        <div class="vinyl-disk-center">
        </div>
        <span class="uk-text-large position-number"> #{{ album.position }}</span>
      </div>
    </div>
  </div>
  <div class="uk-width-expand uk-padding-remove uk-card uk-card-default uk-grid uk-grid-collapse list-item-container"
    uk-grid>
    <div class="uk-width-auto uk-flex uk-flex-column uk-flex-center uk-visible@s">
      <div class="album-cover-holder">
        <img class="album-cover" [src]="album.imgBigger.src" alt="albums cover">
      </div>
    </div>
    <div class="uk-card uk-flex uk-flex-column uk-flex-between uk-width-expand">
      <div class="uk-card-header no-borders lesser-paddings uk-text-left">
        <div class="album-cover-holder-small uk-align-left uk-hidden@s">
          <img class="album-cover" [src]="album.imgBigger.src" alt="albums cover">
        </div>
        <h3 class="uk-card-title album-name">{{album.name}}</h3>
        <h4 class="artist-name">{{ album.artist.label}}</h4>
      </div>
      <div class="uk-card-body album-info-body">
        <p class="uk-text-meta uk-margin-remove-top">
          <span>{{ album.tracksCount }} tracks</span>
          <span> · </span>
          <span>{{album.category.label}}</span>
          <span> · </span>
          <time [attr.datetime]="album.releaseDate.toString()">{{album.releaseDate | date:'yyyy'}}</time>
        </p>
      </div>
      <div class="uk-card-footer no-borders lesser-paddings">

        <a [href]="album.link" target="_blank" class="uk-button uk-button-text uk-align-right"
          (click)="stopPropagation($event)">{{ album.price }} on
          apple
          music</a>
      </div>
    </div>
  </div>
</button>
