<div class="top-albums-container">
  <div class="uk-container uk-container-large uk-margin-small">
    <div class="all-width">
      <form class="uk-search uk-search-default">
        <span class="uk-search-icon-flip" uk-search-icon></span>
        <input class="uk-search-input" type="search" placeholder="Search" (keyup)="searchChanged($event)">
      </form>
    </div>
  </div>

  <div class="album-list-container">
    <app-album-list [albums]="albums$ | async"></app-album-list>
  </div>
</div>
