.top-albums-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.album-list-container {
  flex: 1 1 auto;
  overflow: auto;
}

.search-holder {
  display: inline;
}
