@import '/src/colors.scss';

.loader {
  text-align: center;
}

.position-holder {
  width: 55px;
  .vinyl-disk {
    height: 190px;
    width: 190px;
    border-radius: 95px;
    background-color: black;
    background: repeating-radial-gradient(black, #201e1e 3px);
    position: relative;
  }

  .vinyl-disk-center {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: $accent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .position-number {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: white;
  }

  &:hover {
    width: 80px;
  }
  transition: width 200ms ease-in-out;
}
