@import "colors.scss";
/* You can add global styles to this file, and also import other style files */
// 1. Your custom variables and variable overwrites.
$global-link-color: $accent;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() {
  color: $justBlack;
}

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

body,
html {
  height: 100%;
}
